<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteBase /
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
	RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://clan-frui.fr/$1 [R]
</IfModule>
